extends layout

block content
	body.mediawiki.ltr.sidedir-ltr.ns-0.ns-subject.page-Main_page.skin-vector.action-view
		#mw-page-base.noprint
		#mw-head-base.noprint
		#content.mw-body
			h1#firstHeading.firstHeading
				span(dir="auto")| #{subdomain}pedia
			#bodyContent
				#siteSub From MediaWiki Demo
				#contentSub Nothing
				#jump-to-nav.mw-jump
					| Jump to: navigation
				#mw-content-text.mw-content-ltr
					p Welcome to #{subdomain}pedia, the free wiki about #{subdomain} that anybody can edit.
				h2
					span.mw-headline Getting Started
				ul
					li
						a Talk to someone about #{subdomain}
					li
						a(href="owned.html") Get more information about #{subdomain}pedia
			#printfooter
				#catlinks.catlinks.catlinks-allhidden
				.visualClear

		#mw-head.noprint
			#p-personal
				h5 Personal tools
			#left-navigation
				#p-namespaces.vectorTabs
					h5 Namespaces
					ul
						li#ca-nstab-main.selected 
							span
								a Page
						li#ca-talk.new 
							span
								a Discussion
				#p-variants.vectorMenu.emptyPortlet
					.menu
						ul
			#right-navigation
				#p-views.vectorTabs
					h5 Views
						ul
							li#ca-view.selected 
								span
									a Read
							li#ca-viewsource 
								span
									a View source
							li#ca-history.collapsible 
								span
									a View history
				#p-cactions.vectorMenu.emptyPortlet
					h5
						span Actions
							.menu
								ul
				#p-search
					h5
						label(for="searchInput") Search
						form#searchform
		#mw-panel.noprint
			#p-logo
				a(style="background-image: url(//web.illmakethe.wiki/img/Wiki.png);", href="#")

			#portal.p-navigation
				h5 Navigation
				.body
					ul
						li#n-mainpage-description 
							a Main Page
						li
							a Community portal
						li 
							a Current events
						li 
							a Recent changes
						li 
							a Random page
						li 
							a Help
			#portal.p-tb
				h5 Toolbox
				.body
					ul
						li
							a#t-whatlinkshere What links here
						li
							a Related changes
						li
							a Special pages
						li
							a Printable version
						li
							a Permanent link

		#footer
			ul#footer-info
				li This page was last modified #{datetime}
				li This page has been accessed #{randnum} times